@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --sedans: hsl(31, 77%, 52%);
    --suvs: hsl(184, 100%, 22%);
    --luxury: hsl(179, 100%, 13%);
}


body {
    display: flex;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
}

button {
    width: 144px;
    height: 48px;
    border-radius: 24px;
    border: none;
    margin-top: 2em;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    font-family: Lexend Deca, sans-serif;
}

button:hover {
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: hsl(0, 0%, 95%) !important;
}

h1 {
    font-size: 2.4em;
    font-family: Big Shoulders Display, sans-serif;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: Lexend Deca, sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    font-family: Lexend Deca, sans-serif;
    text-decoration: none;
}

.card {
    padding: 15%;
}

#sedans {
    background-color: var(--sedans);
}

#sedans > button {
    color: var(--sedans);
}

#suvs {
    background-color: var(--suvs);
}

#suvs > button {
    color: var(--suvs);
}

#luxury {
    background-color: var(--luxury);
}

#luxury > button {
    color: var(--luxury);
}

@media only screen and (max-width: 767px) {
    body {
        flex-direction: column;
        padding: 5%;
    }

    #sedans {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    #luxury {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        position: relative;
        padding: 3%;
        height: 400px;
        width: 220px;
    }

    #sedans {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    #luxury {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    button {
        position: absolute;
        bottom: 8%;
        left: 16%;
    }
}

